# Default values for docker-auth.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: cesanta/docker_auth
  tag: 1.14.0
  pullPolicy: IfNotPresent

registry:
  enabled: false

logging:
  level: 2

secret:
  data:
    server:
      certificate: ""
      key: ""
configmap:
  data:
    token:
      issuer: "Acme auth server"
      expiration: 900
      disableLegacyKeyId: false
    users:
      "admin":
        password: "$2y$05$LO.vzwpWC5LZGqThvEfznu8qhb5SGqvBSWY1J3yZ4AxtMRZ3kN5jC"  # password: badmin
      "test":
        password: "$2y$05$WuwBasGDAgr.QCbGIjKJaep4dhxeai9gNZdmBnQXqpKly57oNutya"  # password: 123
    acl:
      - match: {account: "admin"}
        actions: ["*"]
        comment: "Admin has full access to everything."
      - match: {account: "test"}
        actions: ["pull"]
        comment: "User \"test\" can pull stuff."

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 5001
  targetPort: 5001

ingress:
  enabled: true
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
    # nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
  labels: {}
  hosts:
    - host: docker-auth.test.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# podAnnotations to use for the deployment. Optional
podAnnotations: {}

# SecurityContext at container level to use for the deployment. Optional
containerSecurityContext: {}

# SecurityContext at pod level to use for the deployment. Optional
podSecurityContext: {}

